In [3]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import time
import matplotlib.pyplot as plt

In [4]:

column_names = ["DATE", "TIME", "ASC_RawValue", "ASC_Rashi", "ASC_Deg", "ASC_Nakshatra", "ASC_NL", "ASC_SL" , "ASC_SSL","Sun_RawValue", "Sun_Rashi", "Sun_Deg", "Sun_Nakshatra", "Sun_NL", "Sun_SL" , "Sun_SSL","Moon_RawValue", "Moon_Rashi", "Moon_Deg", "Moon_Nakshatra", "Moon_NL", "Moon_SL" , "Moon_SSL",
"Mar_RawValue", "Mar_Rashi", "Mar_Deg", "Mar_Nakshatra", "Mar_NL", "Mar_SL" , "Mar_SSL","Mer_RawValue", "Mer_Rashi", "Mer_Deg", "Mer_Nakshatra", "Mer_NL", "Mer_SL" , "Mer_SSL",
"Jup_RawValue", "Jup_Rashi", "Jup_Deg", "Jup_Nakshatra", "Jup_NL", "Jup_SL" , "Jup_SSL","Ven_RawValue", "Ven_Rashi", "Ven_Deg", "Ven_Nakshatra", "Ven_NL", "Ven_SL" , "Ven_SSL",
"Sat_RawValue", "Sat_Rashi", "Sat_Deg", "Sat_Nakshatra", "Sat_NL", "Sat_SL" , "Sat_SSL","Rah_RawValue", "Rah_Rashi", "Rah_Deg", "Rah_Nakshatra", "Rah_NL", "Rah_SL" , "Rah_SSL",
"Ket_RawValue", "Ket_Rashi", "Ket_Deg", "Ket_Nakshatra", "Ket_NL", "Ket_SL" , "Ket_SSL","dummy"]

p_pos = pd.read_csv('/Users/maheshwarip/ProjectAnand/5_year.csv', header=None)

p_pos.columns = column_names

#create date time joining date and time. later will come handy in comparing values accross sheets
p_pos['DateandTime'] =  pd.to_datetime( p_pos['DATE'].map(str) + " " + p_pos['TIME'], infer_datetime_format=True )

#now just take values from 8:59 am  to 4:01 pm 
p_pos = p_pos[p_pos['DateandTime'].dt.time.between(time(8,59,0), time(16,1,0))].reset_index(drop=True)

p_pos.to_csv('/Users/maheshwarip/ProjectAnand/5_year_corrected.csv')

p_pos.columns
    
p_pos.describe()

p_pos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080829 entries, 0 to 1080828
Data columns (total 74 columns):
DATE              1080829 non-null object
TIME              1080829 non-null object
ASC_RawValue      1080829 non-null float64
ASC_Rashi         1080829 non-null object
ASC_Deg           1080829 non-null object
ASC_Nakshatra     1080829 non-null object
ASC_NL            1080829 non-null object
ASC_SL            1080829 non-null object
ASC_SSL           1080829 non-null object
Sun_RawValue      1080829 non-null float64
Sun_Rashi         1080829 non-null object
Sun_Deg           1080829 non-null object
Sun_Nakshatra     1080829 non-null object
Sun_NL            1080829 non-null object
Sun_SL            1080829 non-null object
Sun_SSL           1080829 non-null object
Moon_RawValue     1080829 non-null float64
Moon_Rashi        1080829 non-null object
Moon_Deg          1080829 non-null object
Moon_Nakshatra    1080829 non-null object
Moon_NL           1080829 non-null object
Moon_SL           1080829 non-null object
Moon_SSL          1080829 non-null object
Mar_RawValue      1080829 non-null float64
Mar_Rashi         1080829 non-null object
Mar_Deg           1080829 non-null object
Mar_Nakshatra     1080829 non-null object
Mar_NL            1080829 non-null object
Mar_SL            1080829 non-null object
Mar_SSL           1080829 non-null object
Mer_RawValue      1080829 non-null float64
Mer_Rashi         1080829 non-null object
Mer_Deg           1080829 non-null object
Mer_Nakshatra     1080829 non-null object
Mer_NL            1080829 non-null object
Mer_SL            1080829 non-null object
Mer_SSL           1080829 non-null object
Jup_RawValue      1080829 non-null float64
Jup_Rashi         1080829 non-null object
Jup_Deg           1080829 non-null object
Jup_Nakshatra     1080829 non-null object
Jup_NL            1080829 non-null object
Jup_SL            1080829 non-null object
Jup_SSL           1080829 non-null object
Ven_RawValue      1080829 non-null float64
Ven_Rashi         1080829 non-null object
Ven_Deg           1080829 non-null object
Ven_Nakshatra     1080829 non-null object
Ven_NL            1080829 non-null object
Ven_SL            1080829 non-null object
Ven_SSL           1080829 non-null object
Sat_RawValue      1080829 non-null float64
Sat_Rashi         1080829 non-null object
Sat_Deg           1080829 non-null object
Sat_Nakshatra     1080829 non-null object
Sat_NL            1080829 non-null object
Sat_SL            1080829 non-null object
Sat_SSL           1080829 non-null object
Rah_RawValue      1080829 non-null float64
Rah_Rashi         1080829 non-null object
Rah_Deg           1080829 non-null object
Rah_Nakshatra     1080829 non-null object
Rah_NL            1080829 non-null object
Rah_SL            1080829 non-null object
Rah_SSL           1080829 non-null object
Ket_RawValue      1080829 non-null float64
Ket_Rashi         1080829 non-null object
Ket_Deg           1080829 non-null object
Ket_Nakshatra     1080829 non-null object
Ket_NL            1080829 non-null object
Ket_SL            1080829 non-null object
Ket_SSL           1080829 non-null object
dummy             1080829 non-null object
DateandTime       1080829 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(10), object(63)
memory usage: 610.2+ MB